.start {
  background-color: green;
  border: 1px solid green;
  color: white;
  outline: none;
  width: 50px;
}
.result {
  color: blue;
}
.stop {
  background-color: red;
  border: 1px solid red;
  color: white;
  outline: none;
  width: 50px;
}
#increase {
  color: white;
  outline: none;
  background-color: rgb(80, 149, 149);
  border: 1px solid rgb(80, 149, 149);
}
#declerement {
  color: white;
  outline: none;
  background-color: rgb(80, 149, 149);
  border: 1px solid rgb(80, 149, 149);
}
#reset {
  background-color: red;
  outline: none;
  border: 1px solid red;
}
