header {
  background-color: white;
  z-index: 100;

  hr {
    margin: 0;
  }
  position: fixed;
  top: 0;
  width: 100%;
  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    .fa-bars {
      display: none;
      @media only screen and (max-width: 576px) {
        display: block;
        color: rgb(255, 0, 0);
        font-size: 26px;
      }
    }
    @media only screen and (max-width: 992px) {
      column-gap: 44px;
    }
    @media only screen and (max-width: 767px) {
      flex-direction: column;
      row-gap: 14px;
    }

    span {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 14px;
      @media only screen and (max-width: 576px) {
        display: none;
      }
    }
    p {
      margin-bottom: 0;
      @media only screen and (max-width: 576px) {
        display: none;
      }
      a {
        text-decoration: none;
        color: black;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 12px;

        i {
          color: white;
          background-color: rgb(255, 0, 0);
          display: inline-block;
          padding: 33px;
        }
      }
    }
    @media only screen and (max-width: 576px) {
      flex-direction: row;
      justify-content: flex-end;
      column-gap: 130px;
      padding: 10px 0;
    }
  }
  .header-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    @media only screen and (max-width: 576px) {
      display: none;
    }

    nav {
      .navUl {
        display: flex;
        list-style: none;
        column-gap: 20px;
        .dropdown {
          .btn-secondary {
            text-transform: uppercase;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 12px;
            padding: 0;
            vertical-align: 0;
            background-color: transparent;
            border: none;
            outline: none;
            color: black;
            transition: 0.5s;
            &:hover {
              color: rgb(255, 0, 0);
            }
            .dropdown-menu {
              display: none;
            }
            &:hover {
              .dropdown-menu {
                display: block;
              }
            }
          }
        }
        .naLi {
          a {
            text-decoration: none;
            color: black;
            transition: 0.5s;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            &:hover {
              color: rgb(255, 0, 0);
            }
            &:active {
              color: rgb(255, 0, 0);
            }
          }
        }
      }
    }
  }
}
